# ignore these folders
/old code/
**/__pycache__/
/instance/
/testing odoo/
/ssl/
/.venv/

# ignore files in debugging but keep the folders
/debugging/**/*.json
/debugging/**/*.txt

# ignore these files
.env
plan.md
desktop.ini
