{% extends "layout.html" %}

{% block title %}
Get Invoices
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shipper.css') }}">
<script src="{{ url_for('static', filename='js/shipper_switch.js') }}" defer></script>
{% endblock %}

{% block header %}
<!-- Navigation buttons -->
<div id="navbar-buttons">
    <a href="/">
        <button type="Button">Back to dashboard</button>
    </a>
    <a href="{{ url_for('orders.manual_search', action='get_invoice') }}">
        <button type="Button">Back</button>
    </a>
</div>

<!-- Display who is currently shipping and allow user to change -->
<div id="current-shipper-container">
    <form>
        <label for="current-shipper">Current shipper:</label>
        <select id="current-shipper" name="current-shipper">
            <!-- Options will be dynamically populated here -->
        </select>
        <button id="subtle-submit" type="button" onclick="updateShipper()">Change</button>
    </form>
</div>
{% endblock %}

{% block main %}
<body>
    <h1>Invoices for order name: {{ order_id }}</h1>

    <form method="POST" action="{{ url_for('shipping.get_invoice') }}">
        {% for result in results %}
        <div>
            <p>{{ result.processed_at }}</p>
            <p>{{ result.tracking_number }}</p>
            <input type="hidden" name="row_id" value="{{ result.id }}">
            <button type="submit" name="action" value="view" formtarget="_blank">View</button>
            <button type="submit" name="action" value="download">Download</button>
        </div>
        {% else %}
        <p>No invoices have been stored for the order.</p>
        <p>Possible reasons:</p>
        <ul>
            <li>UPS do not provide commercial invoices</li>
            <li>This is a really old order and we don't have data from this long ago</li>
        </ul>
        {% endfor %}
    </form>
</body>
{% endblock %}