{% extends "layout.html" %}

{% block title %}
Quote Order
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shipper.css') }}">
<script src="{{ url_for('static', filename='js/shipper_switch.js') }}" defer></script>
{% endblock %}

{% block header %}
<a href="/">Back to dashboard</a>

<!-- Display who is currently shipping and allow user to change -->
<div>
    <form>
        <label for="current-shipper">Current shipper:</label>
        <select id="current-shipper" name="current-shipper">
            <!-- Options will be dynamically populated here -->
        </select>
        <button type="button" onclick="updateShipper()">Change</button>
    </form>
</div>
{% endblock %}

{% block main %}
<body>
    <h1>Quoted [{{ data.order_id }}] to {{ data.country_to }}</h1>

    <p>Customer paid: £{{ data.shipping_cost  or 0.0 }}</p>

    <div>
        <h2>Quotes</h2>
        {{ data.quote_content|safe }}
    </div>

    <div>
        <h2>Errors</h2>
        {{ data.error_content|safe }}
    </div>
</body>
<script>
    function rowClicked(courier, shipping_code) {
        const baseUrl = "{{ url_for('shipping.select_method')}}";
        const queryParams = `?courier=${encodeURIComponent(courier)}&shipping_code=${encodeURIComponent(shipping_code)}`;
        window.location.href = baseUrl + queryParams;
    }
</script>
{% endblock %}