{% extends "layout.html" %}

{% block title %}
Reprint Labels
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shipper.css') }}">
<script src="{{ url_for('static', filename='js/shipper_switch.js') }}" defer></script>
{% endblock %}

{% block header %}
<!-- Navigation buttons -->
<div id="navbar-buttons">
    <a href="/">
        <button type="Button">Back to dashboard</button>
    </a>
    <a href="{{ url_for('orders.manual_search', action=_from) }}">
        <button type="Button">Back</button>
    </a>
</div>

<!-- Display who is currently shipping and allow user to change -->
<div id="current-shipper-container">
    <form>
        <label for="current-shipper">Current shipper:</label>
        <select id="current-shipper" name="current-shipper">
            <!-- Options will be dynamically populated here -->
        </select>
        <button class="subtle-submit" type="button" onclick="updateShipper()">Change</button>
    </form>
</div>
{% endblock %}

{% block main %}
<body>
    <h1>Labels for order name: {{ order_id }}</h1>

    <form method="POST" action="{{ url_for('shipping.reprint_label') }}">
    {% for label in labels %}
        <div>
            <p>{{ label.tracking_number }}</p>
            <p>{{ label.label_id }}</p>
            <input type="checkbox" name="{{ label.label_id }}" value="on">
        </div>
    {% endfor %}

    <button type="submit">Reprint</button>
    </form>
</body>
{% endblock %}