{% extends "layout.html" %}

{% block title %}
Shipping History
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shipper.css') }}">
<script src="{{ url_for('static', filename='js/shipper_switch.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/shipping_history.js') }}" defer></script>
{% endblock %}

{% block header %}
<!-- Navigation buttons -->
<div id="navbar-buttons">
    <a href="/">
        <button type="Button">Back to dashboard</button>
    </a>
</div>

<!-- Display who is currently shipping and allow user to change -->
<div id="current-shipper-container">
    <form>
        <label for="current-shipper">Current shipper:</label>
        <select id="current-shipper" name="current-shipper">
            <!-- Options will be dynamically populated here -->
        </select>
        <button class="subtle-submit" type="button" onclick="updateShipper()">Change</button>
    </form>
</div>
{% endblock %}

{% block main %}
<body>
    <div>
        {% if history %}
        <table>
            <thead>
                <tr>
                    <th>Order Name</th>
                    <th>Shipper</th>
                    <th>Processed At</th>
                    <th>Shipped At</th>
                    <th>Customer</th>
                    <th>Company</th>
                    <th>Shipped To</th>
                    <th>Customer Paid</th>
                    <th>DW Paid</th>
                    <th>Tracking ID</th>
                    <th>Courier</th>
                    <th>Method</th>
                    <th>Shipped</th>
                </tr>
            </thead>
            <tbody>
                {% for row in history %}
                <tr onclick="rowClicked('{{ row.id }}')" data-row-id="{{ row.id }}">
                    <td>{{ row.order_name }}</td>
                    <td>{{ row.shipper }}</td>
                    <td>{{ row.processed_at }}</td>
                    <td>{{ row.shipped_at }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.company }}</td>
                    <td>{{ row.shipped_to }}</td>
                    <td>{{ row.customer_paid }}</td>
                    <td>{{ row.dw_paid }}</td>
                    <td>{{ row.tracking_number }}</td>
                    <td>{{ row.courier }}</td>
                    <td>{{ row.method }}</td>
                    <td>{{ row.shipped }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No shipping history</p>
        {% endif %}
    </div>

    <div>
        <form method="POST" action="{{ url_for('shipping.order_action') }}">
            <input type="hidden" id="row-id" name="row-id">
            <input type="hidden" id="action" name="action">
            <button type="submit" onclick="setAction('reprint_labels')">Reprint Labels</button>
            <button type="submit" onclick="setAction('show_invoice')">Show commercial invoice</button>
            <button type="submit" onclick="setAction('download_invoice')">Download commercial invoice</button>
            <button type="submit" onclick="setAction('void_shipment')">Void shipment</button>
        </form>
    </div>
</body>
{% endblock %}