<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Orders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/orders.css') }}">
</head>
<body>
    <a href="/">Back to dashboard</a>
    <h1>Current Valid Orders:</h1>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Pick Name</th>
                <th>Shipping Name</th>
                <th>Shipping Carrier</th>
                <th>Shipping Cost</th>
                <th>Order Total (Inc Tax)</th>
                <th>Picking Internal Note</th>
                <th>Picking Customer Note</th>
            </tr>
        </thead>

        <!-- For each order display the content in each row -->
        <tbody>
            {% for order in orders %}
            <tr onclick="rowClicked('{{ order.order_name }}')">
                <td>{{ order.order_name }}</td>
                <td>{{ order.picking_names }}</td>
                <td>{{ order.shipping_name }}</td>
                <td>{{ order.order_carrier_name }}</td>
                <td>{{ order.shipping_cost }}</td>
                <td>{{ order.order_total_inc_tax }}</td>
                <td>{{ order.picking_internal_note }}</td>
                <td>{{ order.picking_customer_note }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
<script>
    function rowClicked(orderID) {
        window.location.href = `/orders/get_order_id/${orderID}`;
    }
</script>
</html>