{% extends "layout.html" %}

{% block title %}
Manual Search
{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='js/shipper_switch.js') }}" defer></script>
{% endblock %}

{% block header %}
<!-- Navigation buttons -->
<div id="navbar-buttons">
    <a href="/">
        <button type="Button">Back to dashboard</button>
    </a>
</div>

<!-- Display who is currently shipping and allow user to change -->
<div id="current-shipper-container">
    <form>
        <label for="current-shipper">Current shipper:</label>
        <select id="current-shipper" name="current-shipper">
            <!-- Options will be dynamically populated here -->
        </select>
        <button class="subtle-submit" type="button" onclick="updateShipper()">Change</button>
    </form>
</div>
{% endblock %}

{% block main %}
<body>
    <!-- Allow user to manually search for an id or scan one in here -->
    <h1>Search for an order id:</h1>
    <form action="{{ url_for('orders.get_order_id') }}" method="post">
        <input type="hidden" name="action" value="{{ action }}">
        <input type="text" id="order-id-input" name="order_id" placeholder="Order ID" autofocus>
        <button type="submit">Search</button>
    </form>

    <p>S126000 - partial pack</p>
    <p>S126002 - half pick</p>
    <p>S125951 - alex williams</p>
    <p>S129216 - rotiform</p>
</body>
{% endblock %}