/* force dark mode and set some vars */
:root {
    color-scheme: dark;

    /* Driftworks colours */
    --dw-orange-1: rgba(255, 113, 13, 1);
    --dw-orange-2: rgba(251, 48, 3, 1);
    --dw-orange-3: rgba(190, 35, 0, 1);

    /* Background colours */
    --bg-color-1: rgba(32, 33, 35, 1);
    --bg-color-2: rgba(43, 44, 47, 1);
    --bg-color-3: rgba(162, 165, 170, 1);
}

/* reset default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/* Navbar */
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--bg-color-2);
    border-bottom: 2px solid var(--dw-orange-1);
}

#current-shipper-container {
    margin-left: auto; /* Push the container to the far right */
}

#current-shipper {
    border: 1px solid var(--dw-orange-2);
}





/* main content stuff */
body {
    display: flex;
    background-color: var(--bg-color-1);
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
    flex-direction: column;
    padding: 1vw;
}





/* Default tags */
h1 {
    font-size: 20px;
    font-style: bold;
}





/* default segment */
#default-segment {
    background-color: var(--bg-color-2);
    border: 2px solid var(--dw-orange-1);
    border-radius: 10px;
    margin: 10px;
    padding: 5px 10px;
}





/* Button default */
button {
    background-color: var(--dw-orange-1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--dw-orange-2);
    transform: translateY(-2px); /* Lift effect */
}

button:active {
    background-color: var(--dw-orange-3);
    transform: translateY(0); /* Reset lift */
}

button:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.7); /* Accessible focus ring */
}





/* Subtle submit button */
#subtle-submit {
    all: unset;
    background-color: rgba(60, 60, 60, 1);
    border-radius: 4px;
    padding: 3px 6px;
    cursor: pointer;
}

#subtle-submit:active {
    background-color: rgba(40, 40, 40, 1);
}





/* Footer */
footer {
    /* flex-direction: column; */

    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--bg-color-2);
    border-top: 2px solid var(--dw-orange-1);
}





/* Loading gif stuff */
#loading-gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999; /* ensure it's above everything else */
    display: none; /* center the content */
    justify-content: center;
    align-items: center;
}

.loading-content {
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 1.5em;
}
