/* force dark mode and set some vars */
:root {
    color-scheme: dark;

    /* Driftworks colours */
    --dw-orange-1: rgba(255, 113, 13, 1);
    --dw-orange-2: rgba(251, 48, 3, 1);
    --dw-orange-3: rgba(190, 35, 0, 1);

    /* Background colours */
    --bg-color-1: rgba(32, 33, 35, 1);
    --bg-color-2: rgba(43, 44, 47, 1);
    --bg-color-3: rgba(162, 165, 170, 1);
}

/* reset default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body {
    background-color: var(--bg-color-1);
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
    border: 3px solid red;
    flex-direction: column;
}





/* Default tags */
h1 {
    font-size: 20px;
    font-style: bold;
}





/* Button default */
button {
    background-color: var(--dw-orange-1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--dw-orange-2);
    transform: translateY(-2px); /* Lift effect */
}

button:active {
    background-color: var(--dw-orange-3);
    transform: translateY(0); /* Reset lift */
}

button:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.7); /* Accessible focus ring */
}





/* Clear session button */
#current-shipper {
    border: 1px solid var(--dw-orange-2);
}





/* Clear session button */
#clear-session {
    all: unset;
    background-color: rgba(60, 60, 60, 1);
    border-radius: 4px;
    padding: 3px 6px;
    cursor: pointer;
}

#clear-session:active {
    background-color: rgba(40, 40, 40, 1);
}





/* Footer */
footer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border: 3px solid red;
}
