/* - - - - - - - - - - - - - - - - */
/* - - - - all_orders.html - - - - */
/* - - - - - - - - - - - - - - - - */

/* Table to display all orders */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgba(221, 221, 221, 1);
    padding: 8px;
}

tr:hover {
    background-color: var(--bg-color-2);
    cursor: pointer;
}





/* - - - - - - - - - - - - - - - - */
/* - - - display_order.html  - - - */
/* - - - - - - - - - - - - - - - - */

/* Visibility toggle sections */
.section {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--bg-color-1);
}

.missing{
    color: red;
    font-size: 0.9em;
}



/* Order details display stuff */
#split-screen {
    display: flex;
}

/* Each info block needs to be distinctly separated */
#customer-details, #shipping-details, #shipping-notes, #order-info-block {
    background-color: var(--bg-color-2);
    /* border: none; */
    border: 2px solid var(--dw-orange-1);
    border-radius: 10px;
    margin: 10px;
    padding: 5px 10px;
}




/* Loading gif stuff */
#loading-gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999; /* ensure it's above everything else */
    display: none; /* center the content */
    justify-content: center;
    align-items: center;
}

.loading-content {
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 1.5em;
}