/* - - - - - - - - - - - - - - - - */
/* - - - - all_orders.html - - - - */
/* - - - - - - - - - - - - - - - - */

/* Table to display all orders */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgba(221, 221, 221, 1);
    padding: 8px;
}

tr:hover {
    background-color: var(--bg-color-2);
    cursor: pointer;
}





/* - - - - - - - - - - - - - - - - */
/* - - - display_order.html  - - - */
/* - - - - - - - - - - - - - - - - */

/* Visibility toggle sections */
.section {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--bg-color-1);
}

.missing{
    color: red;
    font-size: 0.9em;
}




/* Order details display stuff */
#split-screen {
    display: flex;
}

.small-input {
    width: 50px;
}

#svg-container {
    width: 30px;
    height: 30px;
}


/* an input that i want to treat as a non interactable value display */
input.no-input {
    border: none;
    background: transparent;
    font-size: inherit; /* Match font size with <p> */
    font-family: inherit; /* Match font family with <p> */
    color: inherit; /* Match text color with <p> */
    outline: none; /* Remove focus outline */
    padding: 0; /* Remove padding for a seamless look */
    margin: 0; /* Ensure alignment with <p> */
    text-align: inherit; /* Match text alignment */
    width: auto; /* Adjust width dynamically to fit content */
    pointer-events: none; /* Disable user interaction if desired */
}