table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid rgba(221, 221, 221, 1);
    padding: 8px;
}
tr:hover {
    background-color: var(--bg-color-2);
    cursor: pointer;
}
