{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block head %}
<link rel="stylesheet" href="static/css/dashboard.css">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}

<body>
    <h1>Dashboard</h1>
    <div role="listbox" class="dashboard-options">
        <div class="dashboard-icon">
            <a href="{{ url_for('orders.all_orders') }}">
                <img src="static/icons/shipper-icon.png" alt="___">
                <p>Orders</p>
            </a>
        </div>
        <div class="dashboard-icon">
            <a href="{{ url_for('orders.manual_search') }}">
                <img src="static/icons/shipper-icon.png" alt="___">
                <p>Search Order</p>
            </a>
        </div>
    </div>
</body>
{% endblock %}