{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<body>
    <h1>Dashboard</h1>
    <div role="listbox" class="dashboard-options">
        <div class="dashboard-icon">
            <a href="{{ url_for('orders.all_orders') }}">
                <img src="static/icons/scraper-icon.png" alt="___">
                <p>List Orders</p>
            </a>
        </div>
        <div class="dashboard-icon">
            <a href="{{ url_for('orders.manual_search', action='search_order') }}">
                <img src="static/icons/search-icon.png" alt="___">
                <p>Search Order</p>
            </a>
        </div>
        <div class="dashboard-icon">
            <a href="{{ url_for('orders.manual_search', action='reprint_label') }}">
                <img src="static/icons/search-icon.png" alt="___">
                <p>Reprint Labels</p>
            </a>
        </div>
        <div class="dashboard-icon">
            <a href="{{ url_for('orders.manual_search', action='get_invoice') }}">
                <img src="static/icons/search-icon.png" alt="___">
                <p>Get invoice</p>
            </a>
        </div>
        <div class="dashboard-icon">
            <a href="{{ url_for('orders.display_order') }}">
                <img src="static/icons/shipper-icon.png" alt="___">
                <p>Show Order</p>
            </a>
        </div>
        <div class="dashboard-icon">
            <a href="{{ url_for('orders.test_map') }}">
                <img src="static/icons/shipper-icon.png" alt="___">
                <p>Test Map</p>
            </a>
        </div>
    </div>
</body>
{% endblock %}