<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
</head>
<body>
    <h1>Dashboard</h1>
    <div role="listbox" class="dashboard-options">
        <div class="dashboard-icon">
            <a href="/orders/all_orders/">
                <img src="static/icons/shipper-icon.png" alt="___">
                <p>Orders</p>
            </a>
        </div>
        <div class="dashboard-icon">
            <a href="/orders/manual_search/">
                <img src="static/icons/shipper-icon.png" alt="___">
                <p>Search Order</p>
            </a>
        </div>
    </div>
</body>
</html>