{% extends "layout.html" %}

{% block title %}
Test
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/orders.css') }}">
<script src="{{ url_for('static', filename='js/display_order/update_quantity.js') }}" defer></script>
{% endblock %}

{% block header %}
<!-- Navigation buttons -->
<div id="navbar-buttons">
    <a href="/">
        <button type="Button">Back to dashboard</button>
    </a>
</div>
{% endblock %}

{% block main %}
<body>
    <!-- kit product 1 -->
    <div>
        <input type="number" data-group="quantity" data-product_id="1" name="line-product_demand_qty_1" value="2" step="any">
    </div>

    <div>
        <input type="number" data-group="quantity" data-product_id="1" name="qty-ignore" value="2" step="any">
    </div>

    <!-- kit product 2 -->
    <div>
        <input type="number" data-group="quantity" data-product_id="2" name="line-product_demand_qty_2" value="2" step="any">
    </div>

    <div>
        <input type="number" data-group="quantity" data-product_id="2" name="qty-ignore" value="2" step="any">
    </div>



    <!-- simple products -->
    <div>
        <input type="text" data-per_one_parent="1" data-product_id="1" class="no-input" name="quantity" value="2">
    </div>

    <div>
        <input type="text" data-per_one_parent="2" data-product_id="2" class="no-input" name="quantity" value="4">
    </div>
</body>
{% endblock %}