<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">

    <!-- title -->
    <title>{% block title %}Main{% endblock %}</title>

    <!-- links to css and manifest -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        {% block header %}{% endblock %}
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <!-- maybe put a footer -->
    </footer>
</body>

</html>